// CONFIG
@import "config/variables";
@import "config/mixins";
// @import "config/media-queries"; /* MQs go here??? */

// VENDOR
@import "vendor/animate";
@import "../../src/spyder-3.0";

// BASE
@import "base/reset";
@import "vendor/normalize";
@import "base/typography";
// @import "base/color";


// LAYOUT
@import	"layout/hero";
// @import "layout/grid"; /* currently linked in <head> of demo.html as external spyder-3.0.css */
// @import "layout/header";
// @import "layout/footer";

// COMPONENTS
@import "components/code";
// @import "components/buttons";
// @import "components/navigation";
// @import "components/inputs";

// PAGES ??  or STATE ??
// @import "pages/...";

// UTILITIES
// @import "utilities/margins";

// JS HOOKS
// @import "js-hooks/...";



body {
	background: #eeeeee;
}

.section-title {
    font-weight: 900;
    font-family: 'titillium web', sans-serif;

	.meta-title {
	    font-size: 50%;
	    text-transform: lowercase;
	    letter-spacing: .05em;
	    color: $color--smoke-1;
	}
}

.callout {
	border: 1px solid;
	border-left: 4px solid;
	border-color: $color--steel-1;
	color: $color--steel-1;
	padding: .5rem;
	margin: 1.3rem 0;
	@include border-radius(2px);
}

li {
	.rotate-90 {
		transform: translate(0%, 20%) scale(1, -1);
		display: inline-block;
		margin-right: .25em;
	}
}
h4 {
	.code--inline {
		margin-left: .25em;
	}
}
#columns {
	.btn-wrap {
		-webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
		margin: 2.5rem;

	    @include media-range(sm) {
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
	    }

		.btn {
			border: 1px solid $color--smoke-1;
			padding: .5em 1em;
			margin-right: -1px;
			color: inherit; // set bc safari changes color on :active & :hover
			transition: border-color .2s ease-out;

			&:hover,
			&:active,
			&:focus {
				// background: lighten($color--smoke-1, 10%);
				border-color: darken($color--smoke-1, 24%);
				z-index: 10;
			}
			&:active,
			&:focus {
				box-shadow: inset 0 0 10px rgba( darken($color--smoke-1, 10%), .64);
			}

			@include media-range(sm) {
				flex-grow: 1;
			}
		}

		.btn--add span,
		.btn--remove span {
			color: $color--primary;
		    font-weight: 900;
		    font-size: 1.125em;
		    margin-right: .25em;
		}
		.btn--remove {

		}
	}

	.code-wrap {
		.target {
			padding-top: .125em;
			display: block;

			div {
				line-height: 1.85em;
			}
		}
	}

	#col--responsive {
		margin-top: 2rem;

		.grid__row:last-of-type {
			margin-top: 3rem;
		}	
	}
}



.grid {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.grid__row {
	// background: #f0f0f9; /*paint gutters*/
	// padding-top: 1rem;
	// padding-bottom: 1rem;
}
/* .grid__col {
	transition: all .2s ease-in;
} */
.content {
    text-align: center;
    margin: 0px;
    padding: .65rem 0;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 400;
	font-size: .85rem;
	background: $color--primary;
	overflow-x: hidden;

	@include media-range(sm) {
		background: $color--green;
	}

	@include media-range(md) {
		background: $color--blue;
	}
}