/*------------------------------------*\
  #COMPONENTS/COLUMNS/SM
\*------------------------------------*/

// !! DEPENDENCIES
// ------------------------
// - config/_variables.scss
// - config/_mixins.scss


.grid__col {
	@include flex-column;
}

@include grid(sm) {

	.grid__col {
		max-width: 100%;
		flex-basis: 100%;
	}

	.sm-col {
		@include flex-column;
		max-width: 100%;
		flex-basis: 100%;
	}

	.grid__col:not(:first-of-type),
	.sm-col:not(:first-of-type) {
		margin-top: 1rem;
	}

 	.sm-is-hidden {
		display: none;
	}
}