/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

// !! DEPENDENCIES
// ------------------------
// - config/_variables.scss

/*
 *  [1] mixin for to controlling spyder's grid break-points (media queries)
 *
 *  [2] Gutter compensation allows the .grid__row element to align properly inside its parent .grid
 *	container, in turn allowing the .grid__row's children (columns) to align properly as well.
 *
 *  [3] Implementation of variables noted above in [2] to create spyder's grid-ranges
 *
*/


/* [1] */
@mixin grid($range) {
	@if $range == sm {
		@media screen and (max-width: $sm--max) { 
			@content;
		}
	}
	@else if $range == md {
		@media screen and (min-width: $md--min) and (max-width: $md--max) { 
			@content; 
		}
	}
	@else if $range == lg {
		@media screen and (min-width: $lg--min) { 
			@content; 
		}
  	}
}

/* [2] */
@mixin gutter-compensation {
	margin-right: $grid-gutter * -1;
	margin-left: $grid-gutter * -1;
}

@mixin flex-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-column {
	display: block;
	padding: 0 $grid-gutter;
	position: relative;
	min-height: 1px;
	flex-grow: 1;
	flex-shrink: 1;
}

