/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// * Spyder was built with easy implementation and customization in mind. The variables below can all be
// * customized to suit your grid's needs.
//   
// * [1] Main grid configuration. 
// 
// * [2] Variables for handling spyder's grid-range breakpoints
// 
// * [3] ???


// [1]
$grid-width: 100%;
$grid-max-width: 1440px;
$grid-gutter: .5rem;

// [2]
$sm--max: 48rem;		//768px @ base-16
$md--min: 48.0625rem;	//769px @ base-16
$md--max: 68.75rem;		//1100px @ base-16
$lg--min: 68.8125rem;	//1101px @ base-16

// [3]
// $grid--sm: "screen and (max-width: #{$grid-break--sm-max})"; 
// $grid--md: "screen and (min-width: #{$grid-break--md-min}) and (max-width: #{$grid-break--md-max})";
// $grid--lg: "screen and (min-width: #{$grid-break--lg-min})";
